/* src/styles/BlogPage.module.css */

.blogPage {
  display: flex;
  gap: 20px; /* Espacio entre el contenido principal y la barra lateral */
}

.mainContent {
  flex: 3; /* Mayor proporción para el contenido principal */
}

.sidebar {
  flex: 1; /* Proporción menor para la barra lateral */
  width: 300px; /* Ajusta según el diseño que desees */
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
